.new-tweet {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-bottom: 20px;
  /* justify-content: space-evenly; */
}

.form {
  display: flex;
  flex-direction: column;
  border-bottom: black;
}

textarea {
  border-width: 3px;
  border-left: none;
  border-right: none;
  border-top: none;
  background-color: transparent;
  margin-bottom: 5px;
  height: 36px;
  margin-top: 5px;
  resize: none;
  outline: none;
}

.create {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
  margin-top: 5px;
}

.tweet2 {
  color: #FFFFFF;
  background-color: #4056a1;
  border: 0;
  padding: 3px 8px;
  align-items: center;
}

.negative {
  color: red;
}

#error1 {
  display: none;
  padding: 5px;
  margin: 5px;
  text-align: center;
  background-color: inherit;
  border: solid 3px red;
  color:red;
}

#error1 .fa {
  margin-right: 25px;
  margin-left: 25px;
}

#error2 {
  display: none;
  padding: 5px;
  margin: 5px;
  text-align: center;
  background-color: inherit;
  border: solid 3px red;
  color:red;
}

#error2 .fa {
  margin-right: 25px;
  margin-left: 25px;
}